body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /*  To stop the page from scrolling horizontally */
  }
  
/* media query */
  
  /* Media query for smartphones */
  @media (max-width: 480px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Media query for tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Media query for laptops and desktops */
  @media (min-width: 769px) {
    body {
      font-size: 18px;
    }
  }
  
/* move nav text to center */
#sticky-nav {
    position: relative;
    /* margin: 15px 10px; */
}
/* style link hover when mouse move over */
#sticky-nav a:hover {
    color: rgb(197, 116, 184);
  }
  /* style link on sticky top */
  #sticky-nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    
    /* text-decoration: none; */
    font-size: 20px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* media query for sticky top nav */
@media screen and (max-width: 600px) {
    #sticky-nav a, #sticky-nav {
      float: none;
      display: block;
      flex-direction: column;
    }
}
/* style menu bar */
#nav-menu {
    background-color: rgb(250, 247, 247);
    justify-content: space-between;
    padding: 5px;
  }
  /* style Ul of menu bar */
  #nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  /* style menu bar links....each page link */
  #nav-menu a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  /* mediaquery of menu links */
  @media (max-width: 600px) {
    #nav-menu ul {
      flex-direction: column;
    }
  }
/* style seach box on menu bar */
  form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px none currentColor;
    border-radius: 3px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 10px 8px;
    font-size: 13px;
    color: inherit;
    border: 1px none transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #995484aa;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px none transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }

  button[type="submit"]:focus,
  input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.nosubmit {
  border-radius: 1px;
    /* padding: 2px; */
    /* border-color: #1183d6; */
}
form.nosubmit {
    border: none;
    /* border-radius: 1px; */
    padding: 7px;
  }
  
  input.nosubmit {
    width: 100px;
    border: 1px none #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  /* carousel styling */
  .carousel-item {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  .carousel-item.active {
    opacity: 1;
  }
  .carousel-inner {
    width: 100%;
    max-height: 400px; /* adjust as needed */
    /* position: relative; */
    overflow: hidden;
  }
  .carousel img {
    width: 100%;
    height: auto;
  }

  /* modal box styling */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    padding: 10px;
  }

  /* styling modal button */
  #openModal{
    text-align: center;
    display: flex;
    margin: auto;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
    width: 300px;

  }

  #openModal a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  #openModal a:hover{
      background-color: black;
      color: white;
  }
  .modal-boxing a:hover{
    background-color: black;
      color: white;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    /* flex-direction: row;
    text-align: center; */
  }

  #store-form {
    text-align: center;
    width: 50%;
    flex-direction: column;
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bolder;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .modal-content {
    width: auto;
    display: block;
    flex-direction: column;
  }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .modal-content {
    width: auto;
    display: block;
    flex-direction: column;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .modal-content {
    width: auto;
    display: block;
    flex-direction: column;
  }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .modal-content {
    width: auto;
    display: block;
    flex-direction: column;
  }
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .modal-content {
    width: auto;
    display: block;
    flex-direction: column;
  }
 }

 /* Image background section styling */
 #image-back {
  background-image: url(../img/background2.jpg);
  object-fit: cover;
 }

 /* style icon */
i {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px none black;
  /* border-radius: 50%; */
  text-align: center;
  padding: 25px;
  /* font-size: 50px; */
  line-height: 60px;
  color: black;
}
/* style image and text */
#image-back {
  margin: 0;
  position: relative;
  padding: 5px;
}

.first-text {
  position: absolute;
  top: 17px;
  right: 50px;
  padding-right: 250px;
  line-height: normal;
}
.second-text {
  position: absolute;
  bottom: 95px;
  right: 10px;
  padding-right: 350px;
}
#shop-now{
  position: absolute;
  float: right;
  right: 530px;
  bottom: 1px;
  padding: 13px;
}
#shop-now:hover,
  #shop-now:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #text-video{
    text-align: right;
    padding-right: 150px;
    padding-top: 30px;
    font-weight: 450;
    line-height: 15px;
    
  }
